In [1]:
# 쥬피터노트북 셀 스타일 조절 
from IPython.core.display import display, HTML
display(HTML("<style>.container { font-weight: bold !important; }</style>"))
display(HTML("<style>.container { width: 100% !important; }</style>"))

import warnings
warnings.filterwarnings(action='ignore')

In [2]:
import numpy as np

## 등차수열

In [4]:
# 공차가 3인 수열 생성 (n+3) - 리스트 
n = 3
list(range(1, 50, n))

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49]

In [6]:
# 공차가 3인 수열 생성 (n+3) - 넘파이 배열 
np.arange(1, 50, n)

array([ 1,  4,  7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49])

### 등비수열

In [7]:
# 리스트 : 2n
myList =[1]
n = 2
for i in range(1, 11):
    myList.append(myList[i-1]*n)
myList

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

## 순열(Permutations) 과 조합(Combinations)

- itertools 내장 라이브러리 
- itertools.permutations(데이타리스트, n)
- itertools.combinations(데이타리스트, n)

In [16]:
from itertools import permutations, combinations

In [9]:
# 카드 1, 2, 3 으로 구성할 수 있는 경우의 수
lists = [1, 2, 3]
permutations(lists, 2)

In [10]:
list(permutations(lists, 2))

[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

In [11]:
for item in list(permutations(lists, 2)):
    print(item)

(1, 2)
(1, 3)
(2, 1)
(2, 3)
(3, 1)
(3, 2)

In [12]:
len(list(permutations(lists, 2)))

6

In [17]:
# 카드 3장에서 2장을 선택한다
cards = [1, 2, 3]
list(combinations(cards, 2))

[(1, 2), (1, 3), (2, 3)]

## 퀴즈

In [18]:
# 반장1명, 부반장1명을 뽑는 경우의 수는?
# 전체인원은 40명

In [25]:
myClass = list(range(1,41))
print(myClass)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]

In [29]:
# list(combinations(myClass, 2))

In [30]:
len(list(combinations(myClass, 2)))

780

In [20]:
# 전체인원 40명. 
# 주번 3명을 뽑는 경우의 수는?

In [31]:
# list(combinations(range(1,41), 3))

In [22]:
len(list(combinations(range(1,41), 3)))

9880