# 실습
titanic 데이터를 seaborn에서 로딩
```
- age 컬럼에 대한 histogram 그리기
- age 컬럼에 대한 survivied를 histo gram으로 그리기. 하나의 나이에 대해 2개의 bar가 있도록
- age 컬럼에 대한 생존율을 비교하도록 multiple 옵션을 fill로 해서 그리기
- age 컬럼을 x로 fare 컬럼을 y로 해서 scatter 그림 그리기
- 위의 4개의 그림을 각각 파일로 저장
- 파일로 저장한 4개의 그림을 읽어서 다음과 같이 배치하여 1장으로 보이기
   1   2
   3   4
```

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
titanic = sns.load_dataset('titanic')

In [ ]:
titanic

### age 컬럼에 대한 histogram 그리기

In [ ]:
sns.histplot(data = titanic, x = 'age')
plt.show()

### age 컬럼에 대한 survivied를 histo gram으로 그리기. 하나의 나이에 대해 2개의 bar가 있도록

In [ ]:
sns.histplot(data = titanic, x = 'age', hue = 'survived', multiple= 'dodge', shrink= 0.8)
plt.show()

### age 컬럼에 대한 생존율을 비교하도록 multiple 옵션을 fill로 해서 그리기

In [ ]:
sns.histplot(data = titanic, x = 'age', hue = 'survived', multiple= 'fill', shrink= 0.8)
plt.show()

### age 컬럼을 x로 fare 컬럼을 y로 해서 scatter 그림 그리기

In [ ]:
sns.scatterplot(data = titanic, x = 'age', y = 'fare')
plt.show()

### 위의 4개의 그림을 각각 파일로 저장

In [ ]:
sns.histplot(data = titanic, x = 'age')
plt.savefig('fig1.jpg')
plt.show()

sns.histplot(data = titanic, x = 'age', hue = 'survived', multiple= 'dodge', shrink= 0.8)
plt.savefig('fig2.jpg')
plt.show()

sns.histplot(data = titanic, x = 'age', hue = 'survived', multiple= 'fill', shrink= 0.8)
plt.savefig('fig3.jpg')
plt.show()

sns.scatterplot(data = titanic, x = 'age', y = 'fare')
plt.savefig('fig4.jpg')
plt.show()

### 파일로 저장한 4개의 그림을 읽어서 다음과 같이 배치하여 1장으로 보이기

In [ ]:
import cv2

plt.figure(figsize=(10, 6))

for i in range(1,5):
    img_data = cv2.imread(f'fig{i}.jpg')
    RGB_img = cv2.cvtColor(img_data, cv2.COLOR_BGR2RGB)
    plt.subplot(2, 2, i)
    # plt.imshow(img_data)
    plt.imshow(RGB_img)
    plt.axis('off')
    
plt.show()

## 실습 풀이

### age 컬럼에 대한 histogram 그리기

In [ ]:
sns.histplot(data = titanic, x = 'age', bins = 100)
plt.savefig('plot1.jpg')
plt.show()

### age 컬럼에 대한 survivied를 histo gram으로 그리기. 하나의 나이에 대해 2개의 bar가 있도록

In [ ]:
sns.histplot(data = titanic, x = 'age', multiple = 'dodge', hue = 'survived', shrink = 0.7)
plt.savefig('plot2.jpg')
plt.show()

### age 컬럼에 대한 생존율을 비교하도록 multiple 옵션을 fill로 해서 그리기

In [ ]:
sns.histplot(data = titanic, x = 'age', multiple = 'fill', hue = 'survived', shrink = 0.7)
plt.savefig('plot3.jpg')
plt.show()

### age 컬럼을 x로 fare 컬럼을 y로 해서 scatter 그림 그리기

In [ ]:
sns.scatterplot(data = titanic, x = 'age', y = 'fare')
plt.savefig('plot4.jpg')
plt.show()

### 위의 4개의 그림을 각각 파일로 저장

In [ ]:
plt.savefig('plot.jpg')

### 파일로 저장한 4개의 그림을 읽어서 다음과 같이 배치하여 1장으로 보이기
   ```
   1   2
   3   4
   ```

In [ ]:
import cv2

plot1 = cv2.imread("plot1.jpg")
plot2 = cv2.imread("plot2.jpg")
plot3 = cv2.imread("plot3.jpg")
plot4 = cv2.imread("plot4.jpg")

plot1 = cv2.cvtColor(plot1, cv2.COLOR_BGR2RGB)
plot2 = cv2.cvtColor(plot2, cv2.COLOR_BGR2RGB)
plot3 = cv2.cvtColor(plot3, cv2.COLOR_BGR2RGB)
plot4 = cv2.cvtColor(plot4, cv2.COLOR_BGR2RGB)

plt.subplot(221)
plt.imshow(plot1)

plt.subplot(222)
plt.imshow(plot2)

plt.subplot(223)
plt.imshow(plot3)

plt.subplot(224)
plt.imshow(plot4)

plt.show()

# Violinplot()

In [ ]:
sns.set_theme(style='whitegrid')

In [ ]:
tips = sns.load_dataset('tips')
tips

In [ ]:
sns.boxplot(y = tips.tip)
plt.show()

### violinplot 만들기

In [ ]:
sns.violinplot(y = tips.tip)
plt.show()

### subplot

In [ ]:
plt.subplot(121)
sns.boxplot(y = tips.tip)

plt.subplot(122)
sns.violinplot(y = tips.tip)

plt.tight_layout()
plt.show()

### x 축 입력 추가

In [ ]:
plt.subplot(121)
sns.boxplot(data = tips, x = 'day', y = 'total_bill')

plt.subplot(122)
sns.violinplot(data = tips, x = 'day', y = 'total_bill')

plt.tight_layout()
plt.show()

In [ ]:
tips

### order

In [ ]:
plt.subplot(121)
sns.boxplot(data = tips, x = 'time', y = 'total_bill', order = ['Dinner', 'Lunch'])

plt.subplot(122)
sns.violinplot(data = tips, x = 'time', y = 'total_bill', order = ['Dinner', 'Lunch'])

plt.tight_layout()
plt.show()

### 가로 세로 변환

In [ ]:
plt.subplot(121)
sns.violinplot(data = tips, y = 'time', x = 'total_bill', order = ['Dinner', 'Lunch'])

plt.subplot(122)
sns.violinplot(data = tips, x = 'time', y = 'total_bill', order = ['Dinner', 'Lunch'])

plt.tight_layout()
plt.show()

### Hue, Split

In [ ]:
plt.figure(figsize=(10,4))
plt.subplot(121)
sns.violinplot(data = tips, x = 'day', y = 'total_bill', hue = 'smoker')

plt.subplot(122)
sns.violinplot(data = tips, x = 'day', y = 'total_bill', hue = 'smoker', split=True)

plt.tight_layout()
plt.show()

### 내부 Boxplot 변경
- none, box, quartile, point, stick

In [ ]:
plt.figure(figsize=(10,4))
plt.subplot(121)
sns.violinplot(data = tips, x = 'day', y = 'total_bill')

plt.subplot(122)
sns.violinplot(data = tips, x = 'day', y = 'total_bill', inner="point")

plt.tight_layout()
plt.show()

# Stripplot()

In [ ]:
plt.figure(figsize=(10,4))
plt.subplot(121)
sns.violinplot(data = tips, x = 'day', y = 'total_bill')

plt.subplot(122)
sns.stripplot(data = tips, x = 'day', y = 'total_bill')

plt.tight_layout()
plt.show()

## jitter

In [ ]:
plt.figure(figsize=(10,4))
plt.subplot(121)
sns.stripplot(data = tips, x = 'day', y = 'total_bill')

plt.subplot(122)
sns.stripplot(data = tips, x = 'day', y = 'total_bill', jitter=1)

plt.tight_layout()
plt.show()

## color

In [ ]:
plt.figure(figsize=(10,4))
plt.subplot(121)
sns.swarmplot(data = tips, x = 'day', y = 'total_bill')
# sns.violinplot(data = tips, x = 'day', y = 'total_bill')
# sns.stripplot(data = tips, x = 'day', y = 'total_bill', color = '0.4')

plt.subplot(122)
sns.stripplot(data = tips, x = 'day', y = 'total_bill', jitter = 1)

plt.tight_layout()
plt.show()

# heatmap()

In [ ]:
a = np.random.rand(10, 8)
# print(a)
sns.heatmap(a)
plt.show()

sns.histplot(a.flatten())
plt.show()

## 2차원 array 히스토그램 그리기
- 1차원 array 로 변환

### flatten

In [ ]:
t = np.random.rand(3, 60)

# sns.histplot(t.reshape(180,), bins = 30)
sns.histplot(t.flatten(), bins = 30)
plt.show()

### random seed 고정하기

In [ ]:
np.random.seed(42)
a = np.random.rand(10, 8)
# print(a[0,0])

plt.figure(figsize=(10, 4))
plt.subplot(121)
sns.heatmap(a)

plt.subplot(122)
sns.heatmap(a, vmin=0.2, vmax=0.8)

plt.show()

### annot 값 출력

In [ ]:
plt.figure(figsize=(10, 4))
plt.subplot(121)
sns.heatmap(a)

plt.subplot(122)
sns.heatmap(a, annot=True, )

plt.show()

### linewidth

In [ ]:
plt.figure(figsize=(10, 4))
plt.subplot(121)
sns.heatmap(a)

plt.subplot(122)
sns.heatmap(a, linewidth=0.5)

plt.show()

### cmap

In [ ]:
plt.figure(figsize=(10, 4))
plt.subplot(121)
sns.heatmap(a)

plt.subplot(122)
sns.heatmap(a, linewidth=0.5, cmap='Blues')
# sns.heatmap(a, linewidth=0.5, cmap='Blues_r')

plt.show()

### cbar

In [ ]:
plt.figure(figsize=(10, 4))
plt.subplot(121)
sns.heatmap(a)

plt.subplot(122)
sns.heatmap(a, linewidth=0.5, cmap='Blues', cbar = False)

plt.show()