sum() len()ord()chr()id()list()set()dict()min()max()pow()

In [2]:
def function_name():
    return

In [3]:
def do_nothing():
    pass

In [4]:
do_nothing()

In [6]:
def make_a_sound():
    print("quack")

In [9]:
def agree():
    return True

In [12]:
type(make_a_sound() ) ,type(agree())

quack

(NoneType, bool)

In [13]:
def echo(anything):
    return anything + ' ' + anything

In [16]:
echo('yahoo'), echo(echo('yahoo'))

('yahoo yahoo', 'yahoo yahoo yahoo yahoo')

In [22]:
thing = None
if thing:
    print("It's some thing")
else :
    print("It's no thing")

It's no thing

In [21]:
None == True, 0 == True , 10==True

(False, False, False)

In [23]:
def whatis(thing):
    if thing:
        print("It's some thing")
    else :
        print("It's no thing")

In [27]:
whatis(thing), whatis(True), whatis(100), whatis([])

It's no thing
It's some thing
It's some thing
It's no thing

(None, None, None, None)

In [28]:
def buggy(arg,result=[]):
    result.append(arg)
    print(result)

In [29]:
buggy('a')

['a']

In [30]:
buggy('b')

['a', 'b']

In [33]:
def works(arg):
    result=[]
    result.append(arg)
    print(result)

In [34]:
works('a') 
works('b')

['a']
['b']

In [43]:
def nobuggy(arg, result=None):
    if result is None:
        result=[]
    result.append(arg)
    return result

In [44]:
nobuggy('a')

['a']

In [45]:
nobuggy('b')

['b']

In [40]:
listResult = ['a','b']

In [41]:
nobuggy('d', listResult)

['a', 'b', 'd']

In [46]:
listResult

['a', 'b', 'd']

In [48]:
nobuggy('a', listResult)

['a', 'b', 'd', 'a']

In [49]:
def print_args(*parameters):
    print('위치 튜플 : ', parameters)

In [52]:
print_args(1,2, 'adbd')

위치 튜플 :  (1, 2, 'adbd')

In [53]:
def print_kwargs(**parameters):
    print("keyword arguments : ", parameters)

In [55]:
print_kwargs(name='kim', phone='1234', addr='dong')

keyword arguments :  {'name': 'kim', 'phone': '1234', 'addr': 'dong'}

#### 독스트링

In [57]:
def echo(anything):
    '에코는 입력값을 리턴값으로 보낸다.'
    return anything

In [58]:
help(echo)

Help on function echo in module __main__:

echo(anything)
    에코는 입력값을 리턴값으로 보낸다.

In [63]:
print(echo.__doc__)

에코는 입력값을 리턴값으로 보낸다.

In [62]:
pow.__doc__

'Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments\n\nSome types, such as ints, are able to use a more efficient algorithm when\ninvoked using the three argument form.'

In [64]:
type(echo)

function

In [66]:
# add(x,y) = x + y

In [67]:
def enliven(word):
    return word.capitalize() +'!'

In [68]:
def edit_story(words, func):
    for word in words:
        print(func(word))

In [72]:
mylen = len

In [73]:
mylen('abc')

3

In [74]:
len.__doc__

'Return the number of items in a container.'

In [75]:
a = 100

In [81]:
stairs = ['thuds', 'meow','thud', 'hiss']

In [86]:
edit_story(stairs, lambda x:x.lower()+'!!!')

thuds!!!
meow!!!
thud!!!
hiss!!!

In [87]:
(lambda x: x+1)(10)

11

In [91]:
lambda x,y: 2*x+3*y

In [92]:
_(2,3)

13

In [93]:
mysum = sum

In [95]:
mysum(range(1,101))

5050

In [96]:
map.__doc__

'map(func, *iterables) --> map object\n\nMake an iterator that computes the function using arguments from\neach of the iterables.  Stops when the shortest iterable is exhausted.'

In [99]:
#print(list(range(1,101)))

In [102]:
print(list(map(lambda x: pow(x,2), range(1,101))))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [103]:
import seaborn as sns
import pandas as pd

In [104]:
iris = sns.load_dataset('iris')

In [109]:
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [110]:
data = iris[['sepal_length','sepal_width']]

In [112]:
data.applymap(lambda x: pow(x,2)).head()

   sepal_length  sepal_width
0         26.01        12.25
1         24.01         9.00
2         22.09        10.24
3         21.16         9.61
4         25.00        12.96

In [115]:
iris.sepal_width.map(lambda y: y+100).head(2)

0    103.5
1    103.0
Name: sepal_width, dtype: float64

In [117]:
def make_level(x):
    if x > 4.0 :
        return 'high'
    elif x > 3.0 :
        return 'mid'
    else :
        return 'low'

In [119]:
iris.sepal_width.map(make_level).head(2)

0    mid
1    low
Name: sepal_width, dtype: object