## 8.12

In [2]:
for x in range(10):
    print('Got', x)

Got 0
Got 1
Got 2
Got 3
Got 4
Got 5
Got 6
Got 7
Got 8
Got 9

## 8.13

In [13]:
zipKey = ('optimist', 'pessimist', 'roll')
zipValue = ('The glass is half full', 
            'The glass is half empty', 
            'How did you get a glass?')

In [25]:
list_dict = []
for key, value in zip(zipKey, zipValue):
    list_dict += ([[key, value]])

In [26]:
list_dict

[['optimist', 'The glass is half full'],
 ['pessimist', 'The glass is half empty'],
 ['roll', 'How did you get a glass?']]

In [27]:
dict(list_dict)

{'optimist': 'The glass is half full',
 'pessimist': 'The glass is half empty',
 'roll': 'How did you get a glass?'}

In [28]:
dict(zip(zipKey, zipValue))

{'optimist': 'The glass is half full',
 'pessimist': 'The glass is half empty',
 'roll': 'How did you get a glass?'}

## 8.14

In [32]:
title = ['Creature of Habit', 'Crewel Fate']
plots = ['A nun turns into a mon ster', 'A haunted yarn shop']

In [33]:
movies = dict(zip(title, plots))

In [34]:
movies

{'Creature of Habit': 'A nun turns into a mon ster',
 'Crewel Fate': 'A haunted yarn shop'}

# 9.16 연습문제

## 9.1

In [37]:
def good():
    return ['Harry', 'Ron', 'Hermione']

good()

['Harry', 'Ron', 'Hermione']

## 9.2

In [41]:
def get_odds():
    for number in range(1,10,2):
        yield number

In [42]:
cnt = 1
for number in get_odds():
    if cnt == 3:
        print("Third Number :", number)
        break
    cnt += 1

Third Number : 5

## 9.3

In [56]:
def test(func):
    def new_function(*args, **kwargs):
        print('Start')
        result = func(*args, **kwargs)
        print('End')
        return result
    return new_function

In [59]:
@test
def add_ints(a, b):
    print(a + b)

In [60]:
add_ints(2, 5)

Start
7
End

# 추가 연습문제

## calcsum

In [61]:
def calcsum(n):
    sum = 0
    for num in range(n + 1):
        sum += num
    return sum

In [62]:
print("~ 4 =", calcsum(4))

~ 4 = 10

## calcrange

In [63]:
def calcrange(begin, end):
    sum = 0
    for num in range(begin, end + 1):
        sum += num
    return sum

In [64]:
print("3 ~ 7 =", calcrange(3, 7))

3 ~ 7 = 25

## printsum

In [67]:
def printsum(n):
    sum = 0
    for num in range(n + 1):
        sum += num
    print("~", n, "=", sum)

In [68]:
printsum(4)

~ 4 = 10

## vararg

In [70]:
def intsum(*ints):
    sum = 0
    for num in ints:
        sum += num
    return sum

In [71]:
print(intsum(1,2,3))

6

## defaultarg

In [72]:
def calcstep(begin, end, step):
    sum = 0
    for num in range(begin, end + 1, step):
        sum += num
    return sum

In [73]:
print("1 ~ 10 =", calcstep(1, 10, 2))

1 ~ 10 = 25

## calcstep

In [74]:
def calcstep(begin, end, step = 1):
    sum = 0
    for num in range(begin, end + 1, step):
        sum += num
    return sum

In [75]:
print("1 ~ 10 =", calcstep(1, 10, 2))

1 ~ 10 = 25

## keywordarg

In [76]:
def calcstep(begin, end, step):
    sum = 0
    for num in range(begin, end + 1, step):
        sum += num
    return sum

## keywordvararg

In [78]:
def calcstep(**args):
    begin = args['begin']
    end = args['end']
    step = args['step']
    
    sum = 0
    for num in range(begin, end + 1, step):
        sum += num
    return sum

In [80]:
print("3 ~ 5 =", calcstep(begin = 3, end = 5, step = 1))

3 ~ 5 = 12

## calcscore

In [81]:
def calcscore(name, *score, **option):
    print(name)
    sum = 0
    for s in score:
        sum += s
    print("총점 :", sum)
    if (option['avg'] == True):
        print("평균 :", sum/len(score))

In [82]:
calcscore("김상형", 88, 99, 77, avg = True)

김상형
총점 : 264
평균 : 88.0

In [85]:
calcscore("김한슬", 99, 98, 95, 89, avg = False)

김한슬
총점 : 381

## local

In [89]:
def kim():
    temp = "김과장의 함수"
    print(temp)

In [90]:
kim()

김과장의 함수

In [91]:
print(temp)

NameError: name 'temp' is not defined

## local2

In [92]:
def kim():
    temp = "김과장의 함수"
    print(temp)

In [93]:
def lee():
    temp = 2 ** 10
    return temp

In [94]:
def park(a):
    temp = a * 2
    print(temp)

In [95]:
kim()

김과장의 함수

In [96]:
print(lee())

1024

In [97]:
park(6)

12

## global

In [98]:
salerate = 0.9

In [99]:
def kim():
    print("오늘의 할인율 :", salerate)

In [100]:
def lee():
    price = 1000
    print("가격 :", price * salerate)

In [101]:
kim()

오늘의 할인율 : 0.9

In [102]:
salerate = 1.1

In [103]:
lee()

가격 : 1100.0

## global2

In [104]:
price = 1000

In [105]:
def sale():
    price = 500

In [106]:
sale()

In [107]:
print(price)

1000

## id

In [108]:
price = 1000

In [109]:
def sale():
    price = 500
    print("sale", id(price))

In [110]:
sale()

sale 2134421298736

In [111]:
print("global", id(price))

global 2134421296240

## global3

In [112]:
price = 1000

In [114]:
def sale():
    global price
    price = 500

In [115]:
sale()

In [116]:
print(price)

500

## docstring

In [125]:
def calcsum(n):
    """1 ~ n까지의 합계를 구해 리턴한다."""
    sum = 0
    for i in range(n + 1):
        sum += i
    return sum

In [126]:
help(calcsum)

Help on function calcsum in module __main__:

calcsum(n)
    1 ~ n까지의 합계를 구해 리턴한다.

## buitin

In [127]:
print(abs(-5))

5

In [128]:
print(max(3, 7))

7

In [129]:
print(min([8,9,1,6,2]))

1