In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas as pd
print(pd.__version__)

1.1.5

In [ ]:
!rm -rf RegularSeasonCompactResults.csv
!wget https://raw.githubusercontent.com/adeshpande3/Pandas-Tutorial/master/RegularSeasonCompactResults.csv

--2021-11-23 05:26:04--  https://raw.githubusercontent.com/adeshpande3/Pandas-Tutorial/master/RegularSeasonCompactResults.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4115852 (3.9M) [text/plain]
Saving to: ‘RegularSeasonCompactResults.csv’

RegularSeasonCompac 100%[===================>]   3.92M  --.-KB/s    in 0.04s

2021-11-23 05:26:04 (107 MB/s) - ‘RegularSeasonCompactResults.csv’ saved [4115852/4115852]

In [ ]:
# 리눅스 커맨드에서 파일 보기
# 파일 위에서 10줄 보기 : head
!head RegularSeasonCompactResults.csv

Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot
1985,20,1228,81,1328,64,N,0
1985,25,1106,77,1354,70,H,0
1985,25,1112,63,1223,56,H,0
1985,25,1165,70,1432,54,H,0
1985,25,1192,86,1447,74,H,0
1985,25,1218,79,1337,78,H,0
1985,25,1228,64,1226,44,N,0
1985,25,1242,58,1268,56,N,0
1985,25,1260,98,1133,80,H,0

In [ ]:
df = pd.read_csv('RegularSeasonCompactResults.csv')

In [ ]:
df.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

In [ ]:
df

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0         1985      20   1228      81   1328      64    N      0
1         1985      25   1106      77   1354      70    H      0
2         1985      25   1112      63   1223      56    H      0
3         1985      25   1165      70   1432      54    H      0
4         1985      25   1192      86   1447      74    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

[145289 rows x 8 columns]

In [ ]:
print(df)

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0         1985      20   1228      81   1328      64    N      0
1         1985      25   1106      77   1354      70    H      0
2         1985      25   1112      63   1223      56    H      0
3         1985      25   1165      70   1432      54    H      0
4         1985      25   1192      86   1447      74    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

[145289 rows x 8 columns]

데이터 프레임의 컬럼 한줄을 시리즈 라고 함

In [ ]:
print(df.tail())

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145289 entries, 0 to 145288
Data columns (total 8 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Season  145289 non-null  int64
 1   Daynum  145289 non-null  int64
 2   Wteam   145289 non-null  int64
 3   Wscore  145289 non-null  int64
 4   Lteam   145289 non-null  int64
 5   Lscore  145289 non-null  int64
 6   Wloc    145289 non-null  object
 7   Numot   145289 non-null  int64
dtypes: int64(7), object(1)
memory usage: 8.9+ MB
None

데이터 다루는 라이브러리는 대부분 Numpy를 쓴다

In [ ]:
print(df.describe())

              Season         Daynum  ...         Lscore          Numot
count  145289.000000  145289.000000  ...  145289.000000  145289.000000
mean     2001.574834      75.223816  ...      64.497009       0.044387
std         9.233342      33.287418  ...      11.380625       0.247819
min      1985.000000       0.000000  ...      20.000000       0.000000
25%      1994.000000      47.000000  ...      57.000000       0.000000
50%      2002.000000      78.000000  ...      64.000000       0.000000
75%      2010.000000     103.000000  ...      72.000000       0.000000
max      2016.000000     132.000000  ...     150.000000       6.000000

[8 rows x 7 columns]

In [ ]:
print(df.min())

Season    1985
Daynum       0
Wteam     1101
Wscore      34
Lteam     1101
Lscore      20
Wloc         A
Numot        0
dtype: object

In [ ]:
df.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

In [ ]:
# df.컬럼명 : 해당 컬럼 시리즈를 불러옴 - 가장 권장하는 접근방법
df.Wteam

0         1228
1         1106
2         1112
3         1165
4         1192
          ...
145284    1114
145285    1163
145286    1246
145287    1277
145288    1386
Name: Wteam, Length: 145289, dtype: int64

In [ ]:
df.Wteam[0:5]

0    1228
1    1106
2    1112
3    1165
4    1192
Name: Wteam, dtype: int64

In [ ]:
df['Wteam']

0         1228
1         1106
2         1112
3         1165
4         1192
          ...
145284    1114
145285    1163
145286    1246
145287    1277
145288    1386
Name: Wteam, Length: 145289, dtype: int64

In [ ]:
print(df.Wteam)
print(df.Wteam.max())
print(df.Wteam[0])
print(df.Wteam[0:5])
print(df.Wteam[0:5].max())

0         1228
1         1106
2         1112
3         1165
4         1192
          ...
145284    1114
145285    1163
145286    1246
145287    1277
145288    1386
Name: Wteam, Length: 145289, dtype: int64
1464
1228
0    1228
1    1106
2    1112
3    1165
4    1192
Name: Wteam, dtype: int64
1228

In [ ]:
df = pd.DataFrame(
    {'AAA' : [4, 5, 6, 7],
     'BBB' : [10, 20, 30, 40],
     'CCC' : [100, 50, -30, -50]}
)
print(df)

mask = pd.Series([True, False, True, False])
print(df[mask])

df.loc[mask, 'bbb'] = -1
print(df)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50
   AAA  BBB  CCC
0    4   10  100
2    6   30  -30
   AAA  BBB  CCC  bbb
0    4   10  100 -1.0
1    5   20   50  NaN
2    6   30  -30 -1.0
3    7   40  -50  NaN

In [ ]:
import numpy as np

a = np.arange(6)
mask = np.array([0,0,0,1,1,1])
print(a*mask)

[0 0 0 3 4 5]

In [ ]:
df = pd.DataFrame(
    {'AAA' : [4, 5, 6, 7],
     'BBB' : [10, 20, 30, 40],
     'CCC' : [100, 50, -30, -50]}
)
print(df)

mask = np.array([0, 2])
print(df.loc[mask])

df.loc[mask, 'bbb'] = -1
print(df)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50
   AAA  BBB  CCC
0    4   10  100
2    6   30  -30
   AAA  BBB  CCC  bbb
0    4   10  100 -1.0
1    5   20   50  NaN
2    6   30  -30 -1.0
3    7   40  -50  NaN

In [ ]:
df = pd.DataFrame(
    {'AAA' : [4, 5, 6, 7],
     'BBB' : [10, 20, 30, 40],
     'CCC' : [100, 50, -30, -50]}
)
print(df)
print(df.AAA)
print(df.AAA>5)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50
0    4
1    5
2    6
3    7
Name: AAA, dtype: int64
0    False
1    False
2     True
3     True
Name: AAA, dtype: bool

In [ ]:
# AAA 컬럼의 값이 짝수인 경우에 CCC의 값을 0으로 만들어라. 내 풀이
df = pd.DataFrame(
    {'AAA' : [4, 5, 6, 7],
     'BBB' : [10, 20, 30, 40],
     'CCC' : [100, 50, -30, -50]}
)
print(df)
df.CCC[df.AAA%2 == 0] = 0
print(df)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50
   AAA  BBB  CCC
0    4   10    0
1    5   20   50
2    6   30    0
3    7   40  -50

In [ ]:
# AAA 컬럼의 값이 짝수인 경우에 CCC의 값을 0으로 만들어라. 풀이
df = pd.DataFrame(
    {'AAA' : [4, 5, 6, 7],
     'BBB' : [10, 20, 30, 40],
     'CCC' : [100, 50, -30, -50]}
)
print(df)
df.loc[df.AAA%2 == 0, 'CCC'] = 0
print(df)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50
   AAA  BBB  CCC
0    4   10    0
1    5   20   50
2    6   30    0
3    7   40  -50

In [ ]:
# AAA 컬럼의 값이 짝수인 경우에 CCC의 값을 0으로 만들어라
df = pd.DataFrame(
    {'AAA' : [4, 5, 6, 7],
     'BBB' : [10, 20, 30, 40],
     'CCC' : [100, 50, -30, -50]}
)

0    100
1     50
2    -30
3    -50
Name: CCC, dtype: int64

In [ ]:
# AAA 컬럼이 홀수이면 CCC의 값을 2배로 만들어라. 내 풀이
df = pd.DataFrame(
    {'AAA' : [4, 5, 6, 7],
     'BBB' : [10, 20, 30, 40],
     'CCC' : [100, 50, -30, -50]}
)
print(df)

df.CCC[df.AAA % 2 == 1] = df.CCC * 2
print(df)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50
   AAA  BBB  CCC
0    4   10  100
1    5   20  100
2    6   30  -30
3    7   40 -100

In [ ]:
# AAA 컬럼이 홀수이면 CCC의 값을 2배로 만들어라. 풀이
df = pd.DataFrame(
    {'AAA' : [4, 5, 6, 7],
     'BBB' : [10, 20, 30, 40],
     'CCC' : [100, 50, -30, -50]}
)
print(df)

df.loc[df.AAA%2 == 1, 'CCC'] = df.CCC*2
print(df)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50
   AAA  BBB  CCC
0    4   10  100
1    5   20  100
2    6   30  -30
3    7   40 -100

In [ ]:
# AAA >= 5 그리고 BBB < 40 --> BBB = -1. 내 풀이
df = pd.DataFrame(
    {'AAA' : [4, 5, 6, 7],
     'BBB' : [10, 20, 30, 40],
     'CCC' : [100, 50, -30, -50]}
)
print(df)

df.BBB[(df.AAA >= 5) & (df.BBB < 40)] = -1
print(df)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50
   AAA  BBB  CCC
0    4   10  100
1    5   -1   50
2    6   -1  -30
3    7   40  -50

In [ ]:
# AAA >= 5 그리고 BBB < 40 --> BBB = -1. 풀이
df = pd.DataFrame(
    {'AAA' : [4, 5, 6, 7],
     'BBB' : [10, 20, 30, 40],
     'CCC' : [100, 50, -30, -50]}
)
print(df)

# 데이터프레임에서는 데이터를 로드하고 바꿀땐 loc 를 활용해라
df.loc[(df.AAA >= 5) & (df.BBB < 40), 'BBB'] = -1
print(df)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50
   AAA  BBB  CCC
0    4   10  100
1    5   -1   50
2    6   -1  -30
3    7   40  -50

In [ ]:
# Numpy 
a = np.arange(6)
a[a > 3] = -1
print(a)

[ 0  1  2  3 -1 -1]

In [ ]:
df = pd.DataFrame(
    {'AAA' : [4, 5, 6, 7],
     'BBB' : [10, 20, 30, 40],
     'CCC' : [100, 50, -30, -50]}
)

# 바꿀 컬럼이 여러개면 리스트로 넣어준다.
df.loc[df.AAA%2 == 0, ['BBB','CCC']] = -1
print(df)

   AAA  BBB  CCC
0    4   -1   -1
1    5   20   50
2    6   -1   -1
3    7   40  -50

In [ ]:
a = [0,1,2,3,4]
if 3 in a :
    print('existed')

existed

In [ ]:
df = pd.DataFrame(
    {'AAA' : [4, 5, 6, 7],
     'BBB' : [10, 20, 30, 40],
     'CCC' : [100, 50, -30, -50]}
)

# isin 메서드 : 특정값에 포함되는지 확인.
print(df.AAA.isin([4,5,6]))

# AAA의 값이 4 또는 7인 경우 BBB 컬럼을 0으로 변환. 내 풀이
df.BBB[df.AAA.isin([4, 7])] = 0
print(df)

0     True
1     True
2     True
3    False
Name: AAA, dtype: bool
   AAA  BBB  CCC
0    4    0  100
1    5   20   50
2    6   30  -30
3    7    0  -50

In [ ]:
df = pd.DataFrame(
    {'AAA' : [4, 5, 6, 7],
     'BBB' : [10, 20, 30, 40],
     'CCC' : [100, 50, -30, -50]}
)

# isin 메서드 : 특정값에 포함되는지 확인
print(df.AAA.isin([4,5,6]))

# AAA의 값이 4 또는 7인 경우 BBB 컬럼을 0으로 변환. 풀이
df.loc[df.AAA.isin([4, 7]), 'BBB'] = 0
print(df)

0     True
1     True
2     True
3    False
Name: AAA, dtype: bool
   AAA  BBB  CCC
0    4    0  100
1    5   20   50
2    6   30  -30
3    7    0  -50

Pandas 는 정말 광대하다. 기능이 많다..
전처리 하는데 필요한 수준까지만 배울 것.
- 전처리
- 결측치, 이상치 처리
- Normalization, Standardization 등

In [ ]:
df = pd.DataFrame(
    {'AAA' : [4, 5, 6, 7],
     'BBB' : [10, 20, 30, 40],
     'CCC' : [100, 50, -30, -50]}
)

# 데이터 프레임을 만들때 인덱스가 자동으로 생성, 컬럼은 아니다.
print(df.index.values)

df[df.index%2==0]

[0 1 2 3]

   AAA  BBB  CCC
0    4   10  100
2    6   30  -30

## 컬럼 추가하기
많이 쓰게 될 것

In [ ]:
df = pd.DataFrame(
    {'AAA' : [4, 5, 6, 7],
     'BBB' : [10, 20, 30, 40],
     'CCC' : [100, 50, -30, -50]}
)

# 새로운 컬럼 만들어서 절대값 저장하기
df['abs_CCC'] = df['CCC'].abs()
print(df)

   AAA  BBB  CCC  abs_CCC
0    4   10  100      100
1    5   20   50       50
2    6   30  -30       30
3    7   40  -50       50

In [ ]:
# AAA와 BBB 의 합으로 된 S 컬럼 생성
df = pd.DataFrame(
    {'AAA' : [4, 5, 6, 7],
     'BBB' : [10, 20, 30, 40],
     'CCC' : [100, 50, -30, -50]}
)

#df['S'] = df.AAA + df.BBB
#df['S'] = df['AAA'] + df['BBB']
# df.S = df['AAA'] + df['BBB']   # ERROR

df['S'] = df[['AAA', 'BBB']].sum(axis = 1)

print(df)

   AAA  BBB  CCC   S
0    4   10  100  14
1    5   20   50  25
2    6   30  -30  36
3    7   40  -50  47

In [ ]:
df = pd.DataFrame(
    {'AAA' : [4, 5, 6, 7],
     'BBB' : ['남','여','M','여'],
     'CCC' : [100, 50, -30, -50]}
)

def encode(BBB):
    if BBB == "남" : return 1
    if BBB == "여" : return 0
    return -1

print(encode('남'))
print(encode('여'))
print(encode(''))
print(encode('else'))

# applymap 사용 - BBB칼럼의 값을 encode 함수에 넣어서 결과값 출력
df['BBB_encoded'] = df[['BBB']].applymap(encode)
print(df)

# 컬럼을 삭제하고 새로운 데이터프레임으로 만들기
new_df = df.drop(columns="BBB")
print(new_df)
print(df)

# 원래 있는 데이터프레임에 덮어씌우기
df.drop(columns="BBB", inplace=True)
print(df)

1
0
-1
-1
   AAA BBB  CCC  BBB_encoded
0    4   남  100            1
1    5   여   50            0
2    6   M  -30           -1
3    7   여  -50            0
   AAA  CCC  BBB_encoded
0    4  100            1
1    5   50            0
2    6  -30           -1
3    7  -50            0
   AAA BBB  CCC  BBB_encoded
0    4   남  100            1
1    5   여   50            0
2    6   M  -30           -1
3    7   여  -50            0
   AAA  CCC  BBB_encoded
0    4  100            1
1    5   50            0
2    6  -30           -1
3    7  -50            0

In [ ]:
df = pd.DataFrame(
    {'AAA' : [4, 5, 6, 7],
     'BBB' : ['남','여','M','여'],
     'CCC' : [100, 50, -30, -50]}
)

df.drop(columns = 'BBB', inplace=True)
print(df)

df = pd.DataFrame(
    {'AAA' : [4, 5, 6, 7],
     'BBB' : ['남','여','M','여'],
     'CCC' : [100, 50, -30, -50]}
)

df.drop(columns = ['BBB', 'CCC'], inplace=True)
print(df)

   AAA  CCC
0    4  100
1    5   50
2    6  -30
3    7  -50
   AAA
0    4
1    5
2    6
3    7

In [ ]:
df = pd.DataFrame(
    {'AAA' : [4, 5, 6, 7],
     'BBB' : [10, 20, 30, 40],
     'CCC' : [100, 50, -30, -50]}
)

# index가 1인 행 삭제
df.drop(1, inplace=True)
print(df)

   AAA  BBB  CCC
0    4   10  100
2    6   30  -30
3    7   40  -50

In [ ]:
df = pd.DataFrame(
    {'AAA' : [4, 5, 6, 7],
     'BBB' : [10, 20, 30, 40],
     'CCC' : [100, 50, -30, -50]}
)

# index가 1, 2인 행 삭제 - 리스트로 지정
df.drop([1, 2], inplace=True)
print(df)

   AAA  BBB  CCC
0    4   10  100
3    7   40  -50

In [ ]:
df = pd.DataFrame(
    {'AAA' : [4, 5, 6, 7],
     'BBB' : [10, 20, 30, 40],
     'CCC' : [100, 50, -30, -50]}
)

# AAA 컬럼이 짝수인 행 삭제하기
df.drop(df[df.AAA%2 == 0].index, inplace=True)
print(df)

   AAA  BBB  CCC
1    5   20   50
3    7   40  -50

```
numpy로 0~1 랜덤한 값을 10개 만들고
10개의 값을 가지는 r 컬럼의 dataframe을 만들고
five_r 이라는 r 컬럼에 5배 곱한 컬럼을 새로 만들고
이를 정수화 한 값의 cat 이라는 이름의 컬럼을 만든다.
cat 외의 모든 컬럼을 삭제한다.
```

In [ ]:
import numpy as np
import pandas as pd

a = np.random.rand(10)
print(a)

df = pd.DataFrame({'r':a})
print(df)

df['five_r'] = df['r']*5
print(df)

# df['cat'] = df['five_r'].astype(int)
# df['cat'] = df.five_r.astype(np.int)
df['cat'] = df.loc[:, 'five_r'].astype(int)
print(df)

df.drop(columns = ['r','five_r'], inplace=True)
print(df)

[0.81253238 0.61540136 0.81434734 0.02477083 0.77179854 0.4505393
 0.08295868 0.08555452 0.31665089 0.90422605]
          r
0  0.812532
1  0.615401
2  0.814347
3  0.024771
4  0.771799
5  0.450539
6  0.082959
7  0.085555
8  0.316651
9  0.904226
          r    five_r
0  0.812532  4.062662
1  0.615401  3.077007
2  0.814347  4.071737
3  0.024771  0.123854
4  0.771799  3.858993
5  0.450539  2.252697
6  0.082959  0.414793
7  0.085555  0.427773
8  0.316651  1.583254
9  0.904226  4.521130
          r    five_r  cat
0  0.812532  4.062662    4
1  0.615401  3.077007    3
2  0.814347  4.071737    4
3  0.024771  0.123854    0
4  0.771799  3.858993    3
5  0.450539  2.252697    2
6  0.082959  0.414793    0
7  0.085555  0.427773    0
8  0.316651  1.583254    1
9  0.904226  4.521130    4
   cat
0    4
1    3
2    4
3    0
4    3
5    2
6    0
7    0
8    1
9    4