## capsule

In [1]:
balance = 8000

In [2]:
def deposit(money):
    global balance
    balance += money

In [3]:
def inquire():
    print("잔액은 %d원입니다." % balance)

In [4]:
deposit(1000)

In [5]:
inquire()

잔액은 9000원입니다.

## account

In [62]:
class Account:
    def __init__(self, balance, name):
        self.balance = balance
        self.name = name
    def deposit(self, money):
        self.balance += money
        print(self.name, "님의 계좌에 %d원이 입금되었습니다." % money)
    def inquire(self):
        print("잔액은 %d원입니다." % self.balance)

In [64]:
sinhan = Account(8000, "'신한'")

In [65]:
sinhan.deposit(1000)
sinhan.inquire()

'신한' 님의 계좌에 1000원이 입금되었습니다.
잔액은 9000원입니다.

In [67]:
nonghyup = Account(1200000, "'농협'")

In [68]:
nonghyup.inquire()

잔액은 1200000원입니다.

## human

In [69]:
class Human:
    def __init__(self, age, name):
        self.age = age
        self.name = name
    def intro(self):
        print(str(self.age) + "살 " + self.name + "입니다.")

In [70]:
kim = Human(29, "홍길동")
kim.intro()

29살 홍길동입니다.

In [71]:
lee = Human(45, "이승우")
lee.intro()

45살 이승우입니다.

## student

In [73]:
class Human:
    def __init__(self, age, name):
        self.age = age
        self.name = name
        
    def intro(self):
        print(str(self.age) + "살 " + self.name + "입니다.")

In [77]:
class Student(Human):
    def __init__(self, age, name, stunum):
        super().__init__(age,name)
        self.stunum = stunum
        
    def intro(self):
        super().intro()
        print("학번 : " + str(self.stunum))
        
    def study(self):
        print("하늘천 따지 검을현 누를황")

In [78]:
kim = Human(29, "홍길동")
kim.intro()

29살 홍길동입니다.

In [79]:
lee = Student(34, "이승우", 930011)
lee.intro()
lee.study()

34살 이승우입니다.
학번 : 930011
하늘천 따지 검을현 누를황

## getset

In [84]:
class Date:
    def __init__(self, month):
        self.month = month
    def getmonth(self):
        return self.month
    def setmonth(self, month):
        if 1 <= month <= 12:
            self.month = month

In [95]:
today = Date(8)
today.setmonth(15)
print(today.month)

8

## property2

In [87]:
class Date:
    def __init__(self, month):
        self.inner_month = month
    @property
    def month(self):
        return self.inner_month
    @month.setter
    def month(self, month):
        if 1 <= month <= 12:
            self.inner_month = month

In [93]:
today = Date(8)
today.month = 15
print(today.month)

8

## hidden

In [92]:
class Date:
    def __init__(self, month):
        self.__month = month
    def getmonth(self):
        return self.__month
    def setmonth(self, month):
        if 1 <= month <= 12:
            self.__month = month
    month = property(getmonth, setmonth)

In [94]:
today = Date(8)
today.month = 15
print(today.month)

8

## classmethod

In [96]:
class Car:
    count = 0
    def __init__(self, name):
        self.name = name
        Car.count += 1
    @classmethod
    def outcount(cls):
        print(cls.count)

In [97]:
price = Car("프라이드")
korando = Car("코란도")
Car.outcount()

2

## staticmethod

In [98]:
class Car:
    @staticmethod
    def hello():
        print("오늘도 안전 운행 합시다.")
    count = 0
    def __init__(self, name):
        self.name = name
        Car.count += 1
    @classmethod
    def outcount(cls):
        print(cls.count)

In [100]:
Car.hello()

오늘도 안전 운행 합시다.

## eqop

In [101]:
class Human:
    def __init__(self, age, name):
        self.age = age
        self.name = name
    def __eq__(self, other):
        return self.age == other.age and self.name == other.name

In [103]:
kim = Human(29, "홍길동")
sang = Human(29, "홍길동")
moon = Human(44, "문종민")

In [104]:
print(kim == sang)
print(kim == moon)

True
False

## clsstr

In [107]:
class Human:
    def __init__(self, age, name):
        self.age = age
        self.name = name
    def __str__(self):
        return "이름 %s, 나이 %d세" % (self.name, self.age)

In [108]:
kim = Human(29, "홍길동")
print(kim)

이름 홍길동, 나이 29세

## clslen

In [109]:
class Human:
    def __init__(self, age, name):
        self.age = age
        self.name = name
    def __len__(self):
        return self.age

In [111]:
kim = Human(29, "홍길동")
print(len(kim))

29