In [ ]:
!wget https://raw.githubusercontent.com/dhrim/MDC_2021/master/material/deep_learning/data/titanic.csv

In [ ]:
!head titanic.csv

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('titanic.csv')
df.head()

In [ ]:
df.info()

In [ ]:
# 결측치 확인

# 컬럼별 결측치
print('df.isnull()')
print(df.isnull())
print()
print('df.isnull().any()')
print(df.isnull().any())
print()
print('df.isnull().sum()')
print(df.isnull().sum())

In [ ]:
data_count = len(df)
print(df.isnull().sum()/data_count)

## 결측치 핸들링

### 결측치 제거하기

In [ ]:
# 'Embarked' 결측치 제거
df.drop(df.loc[df['Embarked'].isnull()].index, inplace=True)

In [ ]:
df.info()
print(df.isnull().sum())

In [ ]:
# 'Age' 결측치 제거
df.drop(df.loc[df['Age'].isnull()].index, inplace=True)

# 'Cabin' 결측치 제거
df.drop(df.loc[df['Cabin'].isnull()].index, inplace=True)

df.info()
print(df.isnull().sum())

In [ ]:
# 'Cabin' 결측치 제거
df.drop(df.loc[df['Cabin'].isnull()].index, inplace=True)

In [ ]:
df = pd.read_csv('titanic.csv')
print(df.info())
print(df.isnull().any().any())
print() 
# 컬럼에 관계없이 null값 버림
df.dropna(inplace=True)
print(df.info())
print(df.isnull().any().any())

In [ ]:
df = pd.read_csv('titanic.csv')

print(df.info())
print(df.isnull().any().any())
print()

# 컬럼을 삭제하여 null값 false로 바꾸기
df.drop(columns=['Age', 'Cabin', 'Embarked'], inplace=True)
print(df.info())
print(df.isnull().any().any())

In [ ]:
df = pd.read_csv('titanic.csv')
df.isnull().any()

### 결측치 채우기

In [ ]:
df = pd.read_csv('titanic.csv')
# 결측치 채우기
df.loc[df['Age'].isnull(), 'Age'] = 0

df.isnull().sum()

In [ ]:
df = pd.read_csv('titanic.csv')

age_mean = df.loc[df['Age'].notnull()].Age.mean
df.loc[df['Age'].isnull(), 'Age'] = age_mean
df.isnull().sum()

```
Age : 평균으로 대체
Cabin : 컬럼 버리기
Embarked : 데이터 버리기
```

In [ ]:
df = pd.read_csv('titanic.csv')

# Age 처리
age_mean = df.loc[df['Age'].notnull()].Age.mean()
df.loc[df['Age'].isnull(), 'Age'] = age_mean
df.isnull().sum()

# Cabin 처리
df.drop(columns='Cabin', inplace=True)
df.isnull().sum()

# Embarked 처리
df.drop(df.loc[df['Embarked'].isnull()].index, inplace=True)
df.isnull().sum()

print("age mean = ", df.Age.mean())
print('len(df) = ', len(df))
print(df.isnull().any().any())

In [ ]:
df = pd.read_csv('titanic.csv')

# fillna 활용하여 결측치 채우기
age_mean = df.loc[df.Age.notnull()].Age.mean()

default_value = {'Age':age_mean, 'Cabin':'UNKNOWN', 'Embarked':'N'}
df.fillna(default_value, inplace=True)
print(df.isnull().sum())

### 앞의 값으로 채우기

In [ ]:
df = pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, 5],
                   [np.nan, 3, np.nan, 4]],
                  columns=list('ABCD'))

print(df)

In [ ]:
# 앞의 값으로 채우기
df.fillna(method='ffill', inplace=True)
print(df)

### 뒤의 값으로 채우기

In [ ]:
# 뒤의 값으로 채우기
df.fillna(method='bfill', inplace=True)
print(df)

# 정규화

## Normalization
- 최소값은 0 , 최대값은 1로 만들어주는 것

In [ ]:
df = pd.read_csv('titanic.csv')
age_mean = df.loc[df.Age.notnull()].Age.mean()

default_value = {'Age':age_mean, 'Cabin':'UNKNOWN', 'Embarked':'N'}
df.fillna(default_value, inplace=True)
print(df.isnull().sum())

In [ ]:
df.head()

In [ ]:
print(df['Age'].max())
print(df['Age'].min())

### 히스토 그램 그려서 확인

In [ ]:
df['Age'].hist();

### normalization 적용

In [ ]:
max = df['Age'].max()
min = df['Age'].min()

df['AgeNormalization'] = (df['Age'] - min) / (max - min)

In [ ]:
df['AgeNormalization'].hist();

## Standardization
- 정규화

### Standardization 적용

In [ ]:
mean = df['Age'].mean()
std = df['Age'].std()

df['AgeStandardization'] = (df['Age'] - mean) / std

In [ ]:
df['AgeStandardization'].hist();

# 처리된 데이터 Numpy에 담기

In [ ]:
df = pd.DataFrame(
    {'Num' : [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
     'Name' : ['A', 'A', 'B', 'B', 'C', 'C', 'A', 'A', 'B', 'B']}
)
#print(df)

df['NameCategory'] = df['Name'].astype('category').cat.codes
print(df)

### Name 컬럼 삭제

In [ ]:
df.drop(columns='Name', inplace=True)
print(df)

Numpy array로 만들기

In [ ]:
a = df.to_numpy()
print(a)

### csv로 내보내기

In [ ]:
df.to_csv('my_data.csv', index=False)

In [ ]:
!head my_data.csv

### csv 읽기

In [ ]:
new_df = pd.read_csv('my_data.csv')
new_df.head()

In [ ]:
!wget https://github.com/bharathirajatut/sample-excel-dataset/raw/master/airline.xls

### Excel 피일 읽기

In [ ]:
df = pd.read_excel('airline.xls')
df.head()

### Excel 파일로 export

In [ ]:
df.to_excel('my_excel_data.xlsx')

# 퀴즈 타임

In [ ]:
df = pd.read_csv("titanic.csv")
print(df.head())
print(df.info())

In [ ]:
!head titanic.csv

```
passenger Id : 컬럼 삭제
Name : 컬럼 삭제
Sex : Sex_로 인코딩. male:0, female:1
Age : 평균으로 결측치 처리. 0~1 normalization
SibSp : 컬럼 삭제
Parch : 컬럼 삭제
Ticket : 컬럼 삭제
Fare : 150 넘는 값은 150으로 치환, standardization
Cabin : 컬럼 삭제 
Embarked : 결측치 데이터 삭제. Embarked_Encoded로 인코딩, C : 0, S : 1, Q : 2
```

### 컬럼 삭제

In [ ]:
df.drop(columns=['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin'], inplace=True)

### Sex : Sex_로 인코딩. male:0, female:1

In [ ]:
df['Sex']

In [ ]:
def encode_sex(value):
    if value == 'male' : return 0
    else : return 1

In [ ]:
df['Sex_'] = df['Sex'].map(encode_sex)
df

### Age : 평균으로 결측치 처리. 0~1 normalization

In [ ]:
# Age 평균
age_mean = df.loc[df['Age'].notnull()]['Age'].mean()

In [ ]:
df['Age'].fillna(age_mean, inplace=True)
df

In [ ]:
# normalization
max_age = df['Age'].max()
min_age = df['Age'].min()

In [ ]:
df['AgeNorm'] = (df['Age'] - min_age) / (max_age - min_age)
df

### Fare : standardization

In [ ]:
mean = df['Fare'].mean()
std = df['Fare'].std()

In [ ]:
# 150 이상은 150으로 치환
df.loc[df['Fare'] >= 150, 'Fare'] = 150
df['Fare'].max()

In [ ]:
df['FareStd'] = (df['Fare'] - mean) / std
df

### Embarked : 결측치 데이터 삭제. Embarked_Encoded로 인코딩, C : 0, S : 1 + Q : 2

In [ ]:
df.drop(df.loc[df['Embarked'].isnull()].index, inplace=True)
df.info()

In [ ]:
df['Embarked']

In [ ]:
def Embarked_Encoded(value):
    if value == 'C' : return 0
    elif value == 'S' : return 1
    else: return 2
    
df['Embarked_Encoded'] = df['Embarked'].map(Embarked_Encoded)
df

In [ ]:
df.hist(figsize=(30,30), xlabelsize=20, ylabelsize=20);

## 퀴즈 풀이

In [ ]:
df = pd.read_csv('titanic.csv')

In [ ]:
df['Embarked'].hist()

In [ ]:
df.Embarked.unique()

In [ ]:
df = pd.read_csv('titanic.csv')

# 컬럼 삭제
df.drop(columns=['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin'], inplace=True)

# Sex Category
sex_category_map = {'male':0, 'female':1}
df['Sex_Code'] = df['Sex'].map(category_map)

# Age 결측치 처리
age_mean = df.loc[df.Age.notnull()].Age.mean()
df.loc[df.Age.isnull(), 'Age'] = age_mean

# Age 컬럼 Normalization
df['Age_Normalized'] = (df.Age - df.Age.min()) / (df.Age.max() - df.Age.min())

# Embarked 결측치 삭제
df.dropna(inplace=True)

# Embarkde Category
embarked_category_map = {'C':0, 'S':1, 'Q':2}
df['Embarked_Code'] = df['Embarked'].map(embarked_category_map)

# Fare 컬럼 150 넘는 값 150으로 처리
FARE_MAX = 150
df['Fare_Limited'] = df.Fare
df.loc[df.Fare_Limited > FARE_MAX, 'Fare_Limited'] = FARE_MAX
# print(df.Fare_Limited.max())

# Fare_Limited 컬럼 Standardization
df.Fare_Limited = (df.Fare_Limited - df.Fare_Limited.mean()) / df.Fare_Limited.std()

# 원 컬럼 삭제
df.drop(columns=['Sex', 'Age', 'Fare', 'Embarked'], inplace=True)

df.head()